<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.eyantra.treeplantation.model"></context:component-scan>
<!--    <bean id="tree" class="com.eyantra.treeplantation.model.FruitTree">-->
<!--        <property name="name" value="First Tree :D"></property>-->
<!--    </bean>-->
<!--    <bean id="marutiEngine" class="com.eyantra.treeplantation.model.Engine" scope="singleton">-->
<!--        <constructor-arg index="0" value="Maruti"></constructor-arg>-->
<!--        <constructor-arg index="1" value="3"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="marutiTransmission" class="com.eyantra.treeplantation.model.Transmission" scope="singleton">-->
<!--        <constructor-arg index="0" value="Manual"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="hondaEngine" class="com.eyantra.treeplantation.model.Engine" scope="singleton">-->
<!--        <constructor-arg index="0" value="Honda"></constructor-arg>-->
<!--        <constructor-arg index="1" value="5"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="hondaTransmission" class="com.eyantra.treeplantation.model.Transmission">-->
<!--        <constructor-arg index="0" value="AMT"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="genericEngine" class="com.eyantra.treeplantation.model.Engine" scope="singleton">-->
<!--        <constructor-arg index="0" value="IC"></constructor-arg>-->
<!--        <constructor-arg index="1" value="5"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="genericTransmission" class="com.eyantra.treeplantation.model.Transmission">-->
<!--        <constructor-arg index="0" value="Gear"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="engine" class="com.eyantra.treeplantation.model.Engine" scope="singleton">-->
<!--        <constructor-arg index="0" value="Engine"></constructor-arg>-->
<!--        <constructor-arg index="1" value="Version"></constructor-arg>-->
<!--    </bean>-->

    <bean id="transmission" class="com.eyantra.treeplantation.model.Transmission">
        <constructor-arg index="0" value="Transmission"></constructor-arg>
    </bean>
</beans>
